.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 200px - 100px);
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertisement {
    display: none;
}

h1 {
    margin-top: 25px;
    width: 100%;
    font-family: "Inter Bold";
    font-size: 20px;
    color: #008996;
    text-align: center;
}
input {
    width: 210px;
    height: 34px;
    padding-left: 30px;
    text-align: start;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
    font-family: "Inter Regular";
    color: #5A5A5A;
    font-size: 13px;
}

input::placeholder {
    font-family: "Inter Regular";
    color: #5A5A5A;
    font-size: 13px;
}

.form-example {
    margin-top: 25px;
    display: flex;
    width: 455px;
    justify-content: space-between;
}

.check-categories {
    display: none;
}

.result {
    display: none;
}
.button {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
    font-family: "Inter Bold";
    color: #414141;
    font-size: 13px;
    align-self: center;
}
.medication-detail {
    margin-top: 10px;
    width: 193px;
}
.input-value.selected-input {
    outline: 2px solid #2BBF90;
    box-shadow: 0 0 6px #2BBF90;
    font-weight: bold;
    color: #008996;
}
.medication-still {
    width: 571px;
    margin-top: 57px;
    margin-bottom: 28px;
}

.button:active {
    transform: scale(0.9);
}

.section-medication-tablet {
    display: none;
}

.section-medication-desktop {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;


}

.advertisement-desktop {
    width: 214px;
    height: 384px;
    background-color: white;
    border-radius: 10px;
}
.button-desktop {
    box-shadow: 0px 2px 4px 0px #2BBF90;
}

.button-desktop:hover {
    box-shadow: 0px 2px 4px 0px #74d2b4;
}

.medication-img {
    width: 300px;
    height: 134px;
    border: 1px solid #deebe7;
    border-radius: 15px;
}

.medication-desktop {
    display: flex;
    justify-content: space-between;
    width: 452px;
    margin-bottom: 25px;
}

.medication-card {
    display: flex;
    flex-direction: column;
    width: 278px;
}
.medication-card h2 {
    color: #008996;
}
h2 {
    font-family: "Inter Bold";
    color: #008996;
    font-size: 20px;
}

.medication-description {
    margin-top: 20px;
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    font-family: "Inter Light";
    color: #535353;
    font-size: 14px;
    margin-bottom: 22px;
}
/* список */
.input-wrapper {
    position: relative;
    border-bottom: 2px solid rgba(248, 246, 246);
}

.input-value:focus + .input-array {

    -webkit-transform: translatex(0);
    transform: translatex(0);
    opacity: 1;
    z-index: 4;
}

.input-value:focus {
    z-index: 10;
}

.input-value {
    position: relative;
    z-index: 3;
}

.input-array {
    margin-top: calc(-34px / 2);
    padding-top: calc(34px / 2);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
    border-radius: 0 0 15px 15px;
    width: 100%;
    overflow: auto;
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
    opacity: 0;
    transition: .3s;
    padding-bottom: 10px;
}
.input-array > * {
    margin: 0 45px 0 26px;
    cursor: pointer;
    padding: 5px;
    font-family: "Inter Regular";
    color: #5A5A5A;
    font-size: 13px;
    border-bottom: 1px solid #EBEBEB;
}

@media screen and (max-width: 1199px) and (min-width: 700px) {
    .advertisement-desktop {
        display: none;
    }

    .input-wrapper {
        margin-bottom: 10px;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-medication-desktop {
        width: auto;
    }
    
    .advertisement {
        background-color: #DEDEDE;
        display: flex;
        width: 100vw;
        height: 74px;
        justify-content: center;
        align-items: center;

        font-family: "Inter Bold" !important;
        color: #FF0000 !important;
        font-size: 13px !important;
    }

    .form-example {
        flex-direction: column;
        align-items: center;
    }

    .search-categories {
        display: flex;
        justify-content: center;
        width: 321px;
        margin-top: 35px;
    }

    .search-categories input {
        width: 100%;
    }

    label {
        display: block;
        cursor: pointer;
      }
      
      .checkbox { 
        display: none;
      }
      
      .fake-checkbox {
        margin-bottom: 14px;
        padding: 4px 10px; 
        text-align: center;
        border-radius: 30px;
        box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
        font-family: "Inter Regular";
        color: #5A5A5A;
        font-size: 13px;
        display: inline-block;
        
      }

      .checkbox:checked + .fake-checkbox {
        outline: 2px solid #008996;
        color: #008996;
      }

      .check-categories {
        justify-content: space-between;
        margin-top: 53px;
        display: flex;
        flex-wrap: wrap;
      }

      .result {
        display: block;
    }

    .medication {
        padding: 20px 40px 40px;
        width: 626px;
        height: 153px;
        display: flex;
        flex-direction: column;
        
        margin-top: 25px;
        border-radius: 15px;
        border: 1px solid #DEDEDE;

        font-family: "Inter Regular";
        color: #414141;
        font-size: 7px;
    }

    .description {
        display: flex;

        justify-content: space-between;

    }

    .medication h2 {
        font-size: 14px;
        margin-bottom: 13px;
    }

    .medication h3 {
        font-size: 11px;
    }

    .paragraph-description {
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 267px;
        height: 43px;
    }

    .section-medication-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button:hover {
        box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.45);
    }

    .container-header {
        width: 658px;
    }
}

@media screen and (max-width: 699px) {

    .advertisement-desktop {
        display: none;
    }

    .section-medication-desktop {
        max-width: 350px;
    }

    .form-example  {
        max-width: 350px;
    }

    .search-state {
        width: 150px;
    }

    .medication-desktop {
        width: 350px;
    }

    .medication-card {
        width: 245px;
    }

    .medication-img {
        width: 90px;
        height: 90px;
    }

    .input-array {
        width: 90%;
    }
    input {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .input-array > * {
        margin: 0 20px 0 15px;
    }
}

@media screen and (min-width: 1200px) {
    .medication-desktop {
        width: calc(100vw * 0.37);
    }

    .medication-card {
        width: calc(100vw * 0.37 - 174px);
    }
    .button {
        align-self: flex-start;
        width: 50%;
    }
}
